
body {
    background: #e4e4e4 url(images/fon.png);
    padding: 0;
    text-align: justify;
    font: 15px Arial, Helvetica, sans-serif;
    color: #626262;
}

div.page {
    width: 1100px;
    margin: 0px auto;
    box-shadow: 0 0 5px black; /* Параметры тени */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    background: #f2f2f2;
}

input {
    padding: 5px;
    background: transparent;
    border: 1px solid #626262;
    font: normal 1em Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

.button {
    border: 1px solid #626262;
    background: transparent;
    padding: 2px 8px;
}
.button:hover {
    background: grey;
    padding: 2px 8px;
}

img, textarea {
    border-radius: 6px;
    background: transparent;
}

h1, h1 a, h2, h2 a, h3, h3 a {
    margin: 0;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #444444;
}

h1 {
    letter-spacing: -1px;
    font-size: 2.2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    letter-spacing: -1px;
    font-size: 2em;
}

p, ol, ul {
    margin-bottom: 2em;
    line-height: 200%;
}

a {
    color: #1692B8;
}

a:hover {
    text-decoration: none;
}

/* Header */

div.header {
    background:#232323 url(images/header.jpg) repeat-x;
}

.table-menu {
    width: 1100px;
    margin: 0px auto;
}

div.logo #logo1 {
    width: 50px;
    height: 50px;
}
div.logo #logo2 {
    width: 130px;
    height: 50px;
}

div.menu {
    float: right;
}

div.menu ul
{
    list-style: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

div.menu li {
    display: block;
    float: left;
    height: 60px;
}

div.menu a:link, div.menu a:visited
{
    display: block;
    padding: 8px 15px 0px 10px;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #CEC5A4;

    text-align:center;
    text-decoration:none;
}

div.menu a:hover, div.menua:active
{
    background: #3b3939;
}


/* Content */

.post {
    margin-bottom: 10px;
}

.post .title {
    border-bottom: 1px #999999 dashed;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    padding: 10px 0 0 30px;
}

.post .entry {
    padding: 10px 50px 30px 30px;
    text-align: justify;
    text-indent: 40px;
}

.newsList img {
    padding-right: 40px;
}

.newsList a {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: #2b2727;
}
.newsList a:hover {
    text-decoration: underline;
}

.newsList .shortPost{
    overflow: hidden;
    height: 70px;
    text-align: justify;
    font-style: italic;
}

 /* Search */

.search {
    width: 185px; /* Ширина поля с кнопкой */
    height: 20px;
    float: right;
    margin-top: -13px;
    margin-left: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    vertical-align: middle; /* Выравнивание по середине */
    border: 1px solid gray;
    border-radius: 6px;
    background: url("images/fon.png");
}
.search #searchText {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 155px; /* Ширина поля */
    height: 15px;
    font-size: 12px;
    color: black;
}
.search #searchButton {
    width: 20px; /* Ширина кнопки */
    height: 20px;
    border: none; /* Убираем рамку */
    background: url(images/search-20.png) no-repeat; /* Параметры фона */
}

/* Footer */

div.footer {
    padding: 10px 0 20px 0;
    background: #757575 url(images/img08.gif) repeat-x;
}

div.footer p {
    margin-bottom: 1em;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    color: #BABABA;
}

div.footer a {
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

div.footer div {
    text-align: center;
}

div.footer table {
    margin: 0 auto;
}

div.footer a:hover {
    color: #757575;
}

div.footer .legal a {
    padding: 0;
}

#slider-wrap{ /* Оболочка слайдера и кнопок */
    width: 300px;
    margin: 20px auto;
}
#slider{ /* Оболочка слайдера */
    width:300px;
    height:250px;
    overflow: hidden;
    border:#eee solid 10px;
    position:relative;}
.slide{ /* Слайд */
    width:100%;
    height:100%;
}
.sli-links{ /* Кнопки смены слайдов */
    margin-top:10px;
    text-align:center;}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(images/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(images/arrowBg.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:10px;}
#nextbutton{
    right:10px;
    background:url(images/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}

div.about {
    margin-bottom: 40px;
    text-align: center;
}

div.about img {
    margin-top: 20px;
    width: 800px;
    height: 600px;
}